
.footer{
  background-color: var(--primary-bg-color);
  padding: 1rem 5rem;
}

.footer-container{
  display: flex;
  
  color: var(--primary-text-color);
  font-family: var(--secondary-font);
  
  font-size: 0.9rem;
  justify-content:space-between;
}

.footer-address-container{
  display: flex;
  align-items: center;
  
}

.footer-menu-container{
  display: flex;
}

.footer-address-image{
padding-right: 2rem;
}

.footer-address-text{
padding-right:20rem;
}

.footer-menu{
  padding-right:3.5rem;
}

.footer-menu-heading{
  font-weight: 1000;
  padding-bottom: 1rem;
}

.footer-menu-items{
  padding-top:.2rem;
  padding-bottom:.2rem;

}

.footer-menu-items a {
  color: var(--primary-text-color);
  transition: 0.5seconds;
}

.footer-menu-items a:hover {
  color: var(--primary-accent-color);
  
}

.footer-socialmedia-icons{
  display: flex;
  justify-content: flex-end;
  padding-top:2.5rem;
}

.footer-socialmedia-icons i{
  color: var(--primary-text-color);
  transition:0.5seconds;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer-socialmedia-icons i:hover{
  color: var(--primary-accent-color);
  
}

@media screen and (max-width:1200px) {
  .footer-address-text{
    padding-right:14rem;
  }
}

@media screen and (max-width:1100px) {
  .footer-address-text{
    padding-right:9rem;
  }

  .footer-container{
font-size:.8rem;
  }
}

@media screen and (max-width:950px) {
  .footer-address-text{
    padding-right:7rem;
  }

  .footer-container{
font-size:.7rem;
  }
}

@media screen and (max-width:850px) {

  .footer{
    padding: 1rem 1rem;
  }
.footer-container{
  flex-direction: column-reverse;
  align-items: center;
}

.footer-menu-container{
  padding-bottom: 2rem;
  
}

.footer-address-text{
  padding-right: 0rem;
}
 .footer-menu:nth-child(3){
   padding-right: 0rem;
 }

}

